@import 'assets/styles/_colors';

.signup {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;

  &__logo {
    margin: 0 auto -20px auto
  }

  &__link {
    margin-top: 10px;
  }
}