@import 'assets/styles/_colors';

.profile-bio {
  
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: underline;
    color: $blue-0;
    cursor: pointer;
  }
}