$black: #020202;
$grey: #cacfd9;
$yellow: #F6E71D;
$white: #f8f9fa;
$grey-0: #c1c7d0;
$grey-1: #dee2e6;
$grey-2: #ced4da;
$grey-3: #adb5bd;
$blue-0: #0466c8;
$blue-1: #0353a4;

$background-color: $black;
$border-color: $grey-0;
$font-color-primary: $white;
$border-color: $grey;
$link-color: $blue-0;